.add-plan {
  padding: 30px 0;

  color: #1d2e5b;

  background-color: #d4d9eb;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.add-plan__title {
  .form-section-title();
  margin-bottom: 30px;
}
