@media (min-width: @tablet-width) {
  .catalog-preference-list {
    position: absolute;
    top: 35px;
    right: 25px;

    flex-direction: column;
    padding: 0;

    .preference-list__item {
      margin-right: 0;
      margin-bottom: 14px;
      text-align: center;
    }
  }

  .preference-list__item-title {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .catalog-preference-list {
    position: static;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;

    .preference-list__item {
      margin-right: 14px;
    }
  }

  .preference-list__item--level {
    margin-left: auto;

    text-align: center;
  }

  .preference-list__item-title {
    display: none;
  }
}
