.cta-list {
  width: 100%;

  .user-list__item {
    align-self: flex-start;

    &:nth-child(1) {
      margin-bottom: 25px;
    }
  }

  .user-list__link {
    color: @light-yellow;

    &-phone::before,
    &-email::before {
      background-color: #121936;
    }
  }
}

@media (min-width: @tablet-width) {
  .cta-list {
    .user-list__item {
      &:nth-child(1) {
        margin-bottom: 45px;
      }
    }

    .user-list__link {
      padding-left: 130px;

      &-phone::before,
      &-email::before {
        left: 35px;

        width: 68px;
        height: 68px;
      }
    }
  }

}

@media (min-width: @desktop-width) {
  .cta-list {
    flex-direction: row;
    justify-content: center;
  }
}
