.cta {
  position: relative;
  top: -90px;
  z-index: -4;
  background-color: #192144;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cta__title {
  margin: 0;
  padding-top: 80px;
  .section-index-title();
}

.cta__desc {
  margin: 0;
  margin-bottom: 32px;
  .paragraph-style-text();
}

.cta__desc--link-color {
  color: @light-yellow;

}

.cta__additional {
  margin-top: 30px;
  margin-bottom: 20px;

  .paragraph-style-text();
}
