.directions {
  position: relative;
  top: -50px;
  z-index: 9;

  padding-bottom: 30px;

  background-color: #edeff6;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.directions__title {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 105px;
  padding-left: 25px;
  .section-index-title();
}

.directions__desc {
  width: 195px;
  margin: 0;
  margin-bottom: 60px;
  padding-left: 25px;

  .paragraph-style-text();
  color: #444444;
}

.directions__button {
  margin-top: 15px;
  .view-all-button();
}

.directions__button--desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .directions {
    top: -63px;
    padding-bottom: 80px;

    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .directions__wrapper {
    padding-left: 35px;

    background: url("../img/flags-back@1x.png") no-repeat top 70px right;

    @media (min-resolution: @retina-dpi),
      (min-resolution: @retina-dppx) {
      background: url("../img/flags-back@2x.png") no-repeat top 70px right;
      background-size: 289px auto;
    }
  }

  .directions__title {
    margin-bottom: 60px;
    padding-top: 110px;
    padding-left: 0;
    .section-index-title-tablet();
  }

  .directions__desc {
    width: 340px;
    margin-bottom: 110px;
    padding-left: 0;
    .paragraph-style-text-tablet();
  }

  .directions__button {
    margin-right: 35px;
    padding-left: 35px;

    font-size: 24px;
    line-height: 24px;

    &::after {
      top: 28px;
      right: 34px;
    }
  }
}

@media (min-width: @desktop-width) {
  .directions {
    top: -75px;

    padding-bottom: 60px;

    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
  }

  .directions__wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 200px;
    padding-bottom: 15px;
    padding-left: 80px;

    background-position-y: 125px;
  }

  .directions__text {
    display: flex;
    flex-direction: column;
    order: 1;
  }

  .directions__title {
    margin-bottom: 58px;
    padding-top: 0;
  }

  .directions__desc {
    margin-bottom: 85px;
  }

  .directions__button {
    display: none;
  }

  .directions__button--desktop {
    display: block;
    align-self: flex-start;
    padding-right: 100px;
    padding-left: 35px;
  }
}
