.footer-social-list {
  justify-content: center;
}

.footer-social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;

  width: 45px;
  height: 45px;

  background-color: @light-yellow;
  border-radius: 50%;

  &:hover {
    background-color: #192144;
  }

  &--icon {
    fill: @dark-blue;
  }

  &:hover>&--icon {
    fill: #ffffff;
  }

  &:active>&--icon {
    fill-opacity: 0.3;
  }
}
