.footer-social-list {
  justify-content: center;
  width: 135px;
}

.footer-social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;

  width: 45px;
  height: 45px;

  background-color: @light-yellow;
  border-radius: 50%;

  &:hover {
    background-color: #192144;
  }

  svg {
    fill: @dark-blue;
  }

  &:hover > svg {
    fill: #ffffff;
  }

  &:active > svg {
    fill-opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .footer-social-list {
    width: 180px;
  }

  .footer-social-list__link {
    width: 60px;
    height: 60px;
  }

  .footer-social-list__link-svg {
    &--fb {
      width: 14px;
      height: 28px;
    }

    &--vk {
      width: 31px;
      height: 16px;
    }

    &--inst {
      width: 24px;
      height: 24px;
    }
  }
}
