.header-social-list {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.header-social-list__item {
  &:nth-child(1) {
    margin-right: 28px;
  }

  &:nth-child(2) {
    margin-right: 25px;
  }
}

.header-social-list__link {
  svg {
    opacity: 0.5;
  }

  &:hover svg {
    fill: #121936;
    opacity: 1;
  }
}

@media (min-width: @desktop-width) {
  .header-social-list {
    display: none;
  }
}
