.map {
  position: relative;
  z-index: -6;
  display: flex;
  align-items: center;
  margin-top: -125px;
}

@media (min-width: @tablet-width) {
  .map__image {
    width: 688px;

  }
}

@media (min-width: @desktop-width) {
  .map {
    justify-content: center;
  }

}
