.preference-list {
  display: flex;
  justify-content: center;
  .list-default-style();
  padding-bottom: 22px;
}

.preference-list__item {
  &:nth-child(1) {
    margin-right: 17px;
  }

  &:nth-child(2) {
    margin-right: 13px;
  }

  &:nth-child(3) {
    margin-right: 10px;
  }
}

.preference-list__item-tooltip {
  display: none;
}
