.site-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: @desktop-width) {
  .site-list {
    flex-direction: row;
  }

  .site-list__link {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 2px 4px;
    margin: 10px 15px;
    height: 1em;
  }

  .site-list__link span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;

    &::before {
      position: absolute;
      z-index: -5;
      top: 100%;

      content: attr(data-hover);
      font-weight: 700;
      transform: translate3d(0, 0, 0);
    }
  }

  .site-list__link:hover span,
  .site-list__link:focus span {
    color: @light-yellow;
    transform: translateY(-100%);
  }

  .site-list__link:active span {
    color: fade(@light-yellow, 30%);
  }
}
