body {
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 270px;
  padding: 0 25px;
  margin: 0 auto;
  border-left: 1px solid red;
  border-right: 1px solid red;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: @tablet-width) {
  .container {
    width: 688px;
    padding: 0 40px;
    margin: 0 auto;
    border-left: 1px solid green;
    border-right: 1px solid green;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 1320px;
    padding: 0 60px;
    margin: 0 auto;
    border-left: 1px solid orange;
    border-right: 1px solid orange;
  }
}
